nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
    letter-spacing: 4px;
    font-family: Verdana, sans-serif; 
    width: 1350px;
    background-color: white;
    position: fixed; 
    top: 0;
    

}

nav ul {
    display: flex;   
}

nav ul li {

    list-style: none;
    margin: 0 40px;
    font-size: 21px; 
    font-size: medium;
    color: gray;
       
}

li a{
    text-decoration: none;
    
    
}

li a:hover{
    background-color: darkgray;
    
}


.logo h5{
    
    margin-left: 20px;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    
}

.logo h5:hover{
    background-color: darkgray;
    
}


.bodyimage{
    background-image: url("Backgroundimage.jpg");
    width: 1340px;
    height: 800px;
}

.bodyimage h1{
    
    width:  255px;
    height: 60px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: white;   
    display: inline-flex;
    
    margin: 373px 541px;
    letter-spacing: 3px;
    

}

.bodyimage span{
    
    background-color: black;
    width:  70px;
    height: 60px;
    opacity: 70%;
    font-size: 39px;
    color: white;
    text-align: center;

}


.Projectsheading{
    margin-left: 20px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
}

hr{
    
    width: 1300px;
   
}

.mainhouse{
    width: 1300px;
    height: 500px;
    
    margin: auto;
    
    
}

.house {
    height: 200px;
    width: 300px;
    border: 1px solid black;
    display: inline-flex;
    margin: 10px;
    
    
}


.Aboutheading{
    margin-left: 20px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.aboutpara{
    font-family: Verdana, sans-serif;
    margin: auto;
   
    width: 1300px;
    height: 130px;
}

.cards{
    
    height:500px;
    width: 1300px;
    margin: 10px;    
    display: inline-flex;
    font-family: "Segoe UI", Arial, sans-serif;
    
}

.cards h3{
    font-size: 24px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
}

.cards h6{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    opacity: 0.60;
    font-weight: 400;
}

.card{
    height: 200px;
    width: 300px;
    
    display: inline-block;
    margin: 10px;
   
    
}

.cardimage img{
    height: 200px;
    width: 300px;
    filter: grayscale(70%);
}

.cardbuttons button{

    height: 40px;
    width: 300px;
    font-family: Verdana, sans-serif;
    color: #000 ;
    background-color: #f1f1f1 ;
    font-size: 15px;
    line-height: 1.5;
    border: none;
}

.cardbuttons button:hover{
    background-color: darkgray ;
}


.contactheading{
    margin-left: 20px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.Form {
    
    height: 350px;
   
    margin: 10px;  
   
}

.fieldheading{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    padding-left: 10px;
    
}

.myinputfield{

    width: 1250px;
    height: 30px;
    padding-left: 10px;
    margin: 10px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
       
}


.Form button{

    height: 40px;
    width: 150px;
    margin: 10px;
    font-size: 14px;
    border: none;
    background-color: rgb(168, 168, 168);
    font-family: Verdana, sans-serif;
    color:white ;
    background-color: #000;
}

.Form button:hover{
    color:black ;
    background-color: darkgray;
    
}



.map {
    width: 1300px;
    height: 500px;
    margin: auto;
}

.map img{
    width: 1300px;
    height: 500px;  
}

.footer{

    height: 200px;
    
    margin: auto;
    background-color: black;
    color: white;
}

.footer p{
    
    padding: 15px 550px;
    font-family: Verdana, sans-serif;
    
}


.textbox{
    position: absolute;
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    font-size:13px;
    width: 140px;
    height: 40px;
    text-align: center;
    
    
}